body{
	background-color: #FAFAD2;
	font-family: "Comic Sans MS", cursive, sans-serif;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 1;
    overflow: hidden;
    background-color: #696969;
}

.aa{
    padding: 1px;
    border: 5px solid white;
}
